@import "tailwindcss";

@theme {
  --color-background-black: #141518;
  --color-secondary-black: #1A1B1F;
  --color-primary-purple: #8162FF; 
  --color-dark-purple: #221C3D;
  --color-gray-01: #26272B;
  --color-gray-02: #4E525B;
  --color-gray-03: #838896;
  --color-white: #FFFFFF;
  --color-red: #EF4444;
  --color-dark-red: #2F1F1F;
}

@layer base {
  * {
    
    @apply border-gray-01 antialiased;
}

body {
  @apply bg-background-black text-white;
}
}